.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  .nav a {
    color: #fff;
    font-size: 18px;
    position: relative;
    &::after {
      top: 0;
      left: 0;
      content: '';
      width: 100px;
      height: 50px;
      display: block;
      position: absolute;
      background: url(../images/shine.png) -60px -80px no-repeat;
    }
    &:hover::after {
      transition: .8s;
      background-position: 100px 100px;
    }
    &:hover,
    &:focus {
      background: none;
    }
    @media #{$device-small} {
      text-align: right;
      &::after {
        left: auto;
        right: 0 !important;
        height: 40px;
      }
    }
  }
}

.navbar-brand {
  padding: 10px 15px;
  > img {
    height: 100px;
  }
  @media #{$device-small} {
    padding: 5px 10px;
    > img {
      height: 50px;
    }
  }
}

.navbar-toggle {
  border-color: #fff;
  .icon-bar {
    background: #fff;
  }
}